.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 67vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  width: 40%;
  font-size: 3rem;
}

.redText {
  color: var(--red);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 90%;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid darkgray;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 300px;
  height: 150px;
  display: flex;
  gap: 5px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--red);
  border-color: var(--red);
  cursor: pointer;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  width: 50%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
